#clear-sky{
    background: linear-gradient(0deg, #3f4650 22%, #a5b8d9 54%);
    color: white;
    .weather-details{
        background-color: #95accfc2;
    }
    .weather-details-info>h6, .sun-state>h6{
        color: #bcd1f0;
    }
}
#sunny{
    background: linear-gradient(0deg, rgba(92,91,60,1) 5%, rgba(235,229,150,1) 66%);
    color: #4b4629;
    .weather-details{
        background-color: #5c5b3c;
        
    }
    .weather-details-info>h3{
        color: #dad2af !important;
    }
    .weather-details-info>h6, .sun-state>h6{
        color: #e0db8d;
    }
}


h1,h2,h3,h5,h6{
    margin: 0;
}

.weather-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 40%;
    height: 50%;
    border-radius: 16px;
    padding: 10% 20%;
    margin-left: 10%;
    font-family: "Outfit", sans-serif;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.weather-state-image-container{
    width: 200px;
    height: 200px;
}

.weather-state-image{
    position: fixed;
    width: 200px;
    height: 200px;
    filter: grayscale(100%) !important;
    display: inline-block;
    filter: drop-shadow(-10px 3px 13px #48505f56) !important;
}
.sun{
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    padding: 0% 20%;
}
.weather-details{
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 0.8rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.weather-details-info, .sun-state{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-details-info>img{
    width: 30px;
    height: 30px;
}
.sun-state>img{
    width: 50px;
    height: 50px;
}